#footer {
    background-color: #000;
    color: #fff;
}

#footer h4, #footer a{
    color: #fff;
}

#footer ul li::before {
    border-color: #fff;
}

#footer .banner-horizontal {
    padding: 29px 20px;
    background: url('../assets/banner-horizontal.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 200px;

}

#footer .footer-newsletter {
    border-top-style: solid;
    border-top-width: 1px;
}
@media screen and (min-width: 768px) {
   
}

@media screen and (min-width: 992px) {
    
    
}

@media screen and (min-width: 1200px) {
    
}

@media screen and (min-width: 1440px) {

}