:root {
    --primary-color: #801756;
    --product-border-color: #fff;
    --shadow-color: #ccc;
    --menu-border-color: #801756
}

body {
    opacity: 0;
}

.search button::before {
    color: #fff;
}

.login-wrapper button {
    color: #fff !important;
}