.products .product:hover {
    box-shadow: 0 0 15px #ccc;
    transition: all 0.3s ease-in-out;
}

.products .product .p {
    border-color: var(--product-border-color);
}

.products .product .p {
    box-shadow: 0 0 15px var(--product-shadow-color);
}

.products-block > div .p .name {
    font-size: 14px;
}

.products-block .p-bottom .prices {
    font-size: 14px;
}

.p-thumbnails-horizontal .p-thumbnail::before, .p-thumbnails-horizontal .show360image::before {
    height: 0;
}

.p-thumbnails a:hover {
    box-shadow: 0 0 15px #ccc;
    transition: all 0.3s ease-in-out;
}

.type-detail .banner-grid {
    padding: 29px 20px;
    background: url('../assets/banner-grid.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 200px;
}

.custom-detail-container {
    display: block;
   
}

.custom-detail-container .p-param-block {
    margin-top: 60px;
    display: block;
    padding-top: 16px;
}

.custom-detail-container .p-param-block .detail-parameters-wrapper {
    margin-bottom: 30px;
}

.type-detail .advanced-parameter-inner {
    border-radius: 0;
}

.load-products {
    color: #fff !important;
}
@media screen and (min-width: 768px) {
    .custom-detail-container {
        display: flex;    
        align-items: flex-start;
        justify-content: space-between;
    }

    .custom-detail-container .p-detail-tabs-wrapper {
        margin-right: 25px;
    }
}

@media screen and (min-width: 992px) {
    .products-block > div .p .name {
        font-size: 16px;
    }
    
    .products-block .p-bottom .prices {
        font-size: 16px;
    }
    
}

@media screen and (min-width: 1200px) {
    .products-block > div .p .name {
        font-size: 18px;
    }
    
    .products-block .p-bottom .prices {
        font-size: 18px;
    }
    
}

@media screen and (min-width: 1440px) {

}